body {
  font-family: 'Courier New', Courier, monospace;
  outline: 3px dotted green;
}

header {
  /* padding: 0.5%; */
  font-size: large;
  font-weight: 800;
  background-color:cornflowerblue
}

div {
  outline: 3px dotted red;
}

.animated > * {
  display: inline-block;
  position: relative;
  /* animation: 3s linear 0s infinite alternate move; */
  animation: 3s cubic-bezier(0.65, 0, 0.35, 1) 0s infinite alternate move;
}

@keyframes move {
  0%,
  25% {
    transform: translateX(0%);
    left: 0%;
    align-content: left;
  }
  75%,
  100% {
    transform: translateX(-100%);
    left: 100%;
    align-content: right;
  }
}
