body {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;

  font-family: "Courier New", Courier, monospace;
  outline: 3px dotted green;
  background-color: rgb(40, 40, 40);
  color: rgb(220, 220, 220);
}

header {
  font-size: large;
  font-weight: bold;
}

.greyed {
  color: grey;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
}

.animated > * {
  display: inline-block;
  position: relative;
  /* animation: 3s linear 0s infinite alternate move; */
  animation: 3s cubic-bezier(0.65, 0, 0.35, 1) 0s infinite alternate move;
}

@keyframes move {
  0%,
  25% {
    transform: translateX(0%);
    left: 0%;
    align-content: left;
  }
  75%,
  100% {
    transform: translateX(-100%);
    left: 100%;
    align-content: right;
  }
}
